<h1>This is show page</h1>

<p>Article:- <%= @article.title %> </p>
<p>Description:- <%= @article.description %> </p>

<%= link_to 'Edit this article', edit_article_path(@article) %> |
<%= link_to 'Delete', article_path(@article), data: { "turbo-method": :delete, confirm: "Are you sure?" } %> |
<%= link_to 'Return to articles listing', articles_path %>